<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Info</title>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</head>
<body>
<h1>Welcome, <span th:text="${user.username}"></span>!</h1>

<h2>Your Information:</h2>
<table>
    <thead>
    <tr>
        <th>Field</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Username</td>
        <td th:text="${user.username}"></td>
    </tr>
    <tr>
        <td>Roles</td>
        <td>
            <ul>
                <li th:each="role : ${user.roles}" th:text="${role.name}"></li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
