<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Information</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<header>
  <nav class="navbar navbar-dark bg-dark p-0 shadow">
    <div class="nav-item text-left text-white px-3">
      <span id="navbarUsername"></span>
      <span>with roles:</span>
      <span id="navbarUserRoles"></span>
    </div>
    <ul class="navbar-nav mr-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link px-3" href="/logout">Logout</a>
      </li>
    </ul>
  </nav>
</header>

<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-2 px-0">
      <div class="d-flex flex-column flex-shrink-0 p-0 text-white">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a href="#userInfo" data-bs-toggle="pill" class="nav-link active no-refresh" role="tab"
               aria-current="false">
              User
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-10 bg-light">
      <div class="tab-content">
        <div class="tab-pane fade show active" id="userInfo" role="tabpanel">
          <div class="container-fluid">
            <h2>User Information</h2>
            <div class="card">
              <div class="container-fluid px-0 bg-light border">
                <h5 class="card-header">About User</h5>
              </div>
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Username</th>
                  <th>Password</th>
                  <th>Role</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td id="userId"></td>
                  <td id="username"></td>
                  <td id="password"></td>
                  <td id="lastName"></td>
                  <td id="roles"></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/user.js"></script>
</body>
</html>